<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:replace="~{import :: head}"></head>

  <body>

    <!-- Header Area wrapper Starts -->
    <head th:replace="~{import :: header}"></head>
    <!-- Header Area wrapper End -->










    <!-- 第一拦 会议简介-->
    <div id="jianjie" class="section-padding">
      <div class="container">
        <div class="row">
          <!--<div class="col-lg-3 col-md-6 col-xs-12">-->
            <!--<div class="about block text-center">-->
              <!--<img src="img/about/img1.png" alt="">-->
              <!--<h5><a href="#">会议简介</a></h5>-->
              <!--<p>两年一届的全国流变学学术会议是中国流变学专家学者学术交流的盛会，会议内容涉及流变学学科各研究领域，评选和颁发“中国流变学杰出贡献奖”和“中国流变学青年奖”，评选和奖励青年优秀学术论文。自1985年在长沙首次召开全国流变学学术会议以来，先后在成都、上海、广州、北京、武汉、廊坊、济南、长沙、杭州、廊坊、广州、西安、湘潭召开了第2届至第14届全国流变学学术会议。经中国化学会和中国力学学会批准，第15届全国流变学学术会议定于2020年10月在重庆市沙坪坝区召开，热忱欢迎广大流变学教育工作者和研究人员参会，交流近年来流变学领域所取得的成果，商讨未来中国流变学发展大计。</p>-->
            <!--</div>-->
          <!--</div>-->


          <div class="col-md-12">
            <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">会议简介</h2>
          </div>

          <p>两年一届的全国流变学学术会议是中国流变学专家学者学术交流的盛会，会议内容涉及流变学学科各研究领域，评选和颁发“中国流变学杰出贡献奖”和“中国流变学青年奖”，评选和奖励青年优秀学术论文。自1985年在长沙首次召开全国流变学学术会议以来，先后在成都、上海、广州、北京、武汉、廊坊、济南、长沙、杭州、廊坊、广州、西安、湘潭召开了第2届至第14届全国流变学学术会议。经中国化学会和中国力学学会批准，第15届全国流变学学术会议定于2020年10月在重庆市沙坪坝区召开，热忱欢迎广大流变学教育工作者和研究人员参会，交流近年来流变学领域所取得的成果，商讨未来中国流变学发展大计。</p>



        </div>
      </div>
    </div>
    <!-- 第一栏结束 -->




    <!-- 第一拦 通知-->
    <div id="tonzhi" class="section-padding">
      <div class="container">
        <div class="row">



          <h5 class="col-md-6 ">
            <a class="pull-left" href="/pages" >通知公告(点击查看全部)</a>
          </h5>




          <table class="table  table-hover">

            <thead>
            <tr style='vertical-align: middle;text-align: center;'>
              <th style='vertical-align: middle;text-align: center;'>题目</th>
              <th style='vertical-align: middle;text-align: center;'>发布时间</th>
            </tr>
            </thead>
            <tbody>

            <tr style='vertical-align: middle;text-align: center;' th:each="page,state:${pages}">
              <td style='vertical-align: middle;text-align: center;' ><a th:href="@{/page(id=${page.getId()})}" th:text="${page.getTitle()}" style="color: #444"></a></td>
              <td style='vertical-align: middle;text-align: center;' ><a th:href="@{/page(id=${page.getId()})}" th:text="${#dates.format(page.getTime(),'yyyy-MM-dd HH:mm:ss')}" style="color: #444"></a></td>

            </tr>


            </tbody>
          </table>




        </div>
      </div>
    </div>
    <!-- 第2栏结束 -->






    <!-- 第二栏 主办单位-->
    <section id="hezuodanwei" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">主办单位</h2>
          </div>
        </div>
        <div class="row" >
          <!--&lt;!&ndash; Start Service Icon 1 &ndash;&gt;-->
          <!--<div class="col-md-6 col-lg-4 col-xs-12">-->
            <!--<div class="service-box">-->
              <!--<div class="service-icon">-->
                <!--<i class="fa fa-cogs"></i>-->
              <!--</div>-->
              <!--<div class="service-content">-->
                <!--<h4><a href="#">Easy to Customize</a></h4>-->
                <!--<p>-->
                  <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto officiis consequuntur vero error excepturi.-->
                <!--</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; End Service Icon 1 &ndash;&gt;-->

          <!--&lt;!&ndash; Start Service Icon 2 &ndash;&gt;-->
          <!--<div class="col-md-6 col-lg-4 col-xs-12">-->
            <!--<div class="service-box">-->
              <!--<div class="service-icon">-->
                <!--<i class="fa fa-cubes"></i>-->
              <!--</div>-->
              <!--<div class="service-content">-->
                <!--<h4><a href="#">100+ Components</a></h4>-->
                <!--<p>-->
                  <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto officiis consequuntur vero error excepturi.-->
                <!--</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; End Service Icon 2 &ndash;&gt;-->

          <!--&lt;!&ndash; Start Service Icon 3 &ndash;&gt;-->
          <!--<div class="col-md-6 col-lg-4 col-xs-12">-->
            <!--<div class="service-box">-->
              <!--<div class="service-icon">-->
                <!--<i class="fa fa-tachometer"></i>-->
              <!--</div>-->
              <!--<div class="service-content">-->
                <!--<h4><a href="#">Super Fast</a></h4>-->
                <!--<p>-->
                  <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto officiis consequuntur vero error excepturi.-->
                <!--</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; End Service Icon 3 &ndash;&gt;-->

          <!--&lt;!&ndash; Start Service Icon 4 &ndash;&gt;-->
          <!--<div class="col-md-6 col-lg-4 col-xs-12">-->
            <!--<div class="service-box">-->
              <!--<div class="service-icon">-->
                <!--<i class="fa fa-check"></i>-->
              <!--</div>-->
              <!--<div class="service-content">-->
                <!--<h4><a href="#">Clean Design</a></h4>-->
                <!--<p>-->
                  <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto officiis consequuntur vero error excepturi.-->
                <!--</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; End Service Icon 4 &ndash;&gt;-->

          <!--&lt;!&ndash; Start Service Icon 5 &ndash;&gt;-->
          <!--<div class="col-md-6 col-lg-4 col-xs-12">-->
            <!--<div class="service-box">-->
              <!--<div class="service-icon">-->
                <!--<i class="fa fa-flash"></i>-->
              <!--</div>-->
              <!--<div class="service-content">-->
                <!--<h4><a href="#">Bootstrap 4 UI Kit</a></h4>-->
                <!--<p>-->
                  <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto officiis consequuntur vero error excepturi.-->
                <!--</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; End Service Icon 5 &ndash;&gt;-->
          <!---->
          <!--&lt;!&ndash; Start Service Icon 6 &ndash;&gt;-->
          <!--<div class="col-md-6 col-lg-4 col-xs-12">-->
            <!--<div class="service-box">-->
              <!--<div class="service-icon">-->
                <!--<i class="fa fa-hand-pointer-o"></i>-->
              <!--</div>-->
              <!--<div class="service-content">-->
                <!--<h4><a href="#">Advanced Features</a></h4>-->
                <!--<p>-->
                  <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto officiis consequuntur vero error excepturi.-->
                <!--</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; End Service Icon 6 &ndash;&gt;-->


          <!--<div class="col-lg-1 col-md-1 col-xs-1">-->
            <!--<div class="about block text-center">-->
            <!--</div>-->
          <!--</div>-->


            <div class="col-lg-4 col-md-4 col-xs-4  ">
              <div class="about block text-center">
                <img src="img/about/img1.jpg" alt="">
                <h5><a href="http://www.cstam.org.cn/index.html" target="_blank">中国力学学会</a></h5>
                <p>中国力学学会是国际理论与应用力学联合会（IUTAM）的成员组织，是在钱学森、周培源、钱伟长、郭永怀等著名力学家的共同倡导和组织下于1957年2月成立的，在推动力学为国民经济建设服务，在促进学科繁荣，开展力学教育，发现优秀力学人才等方面起了重要作用。</p>
              </div>
            </div>

            <!--<div class="col-lg-1 col-md-1 col-xs-1">-->
            <!--<div class="about block text-center">-->


            <!--</div>-->
            <!--</div>-->




            <div class="col-lg-4 col-md-4 col-xs-4  ">
              <div class="about block text-center">
                <img src="img/about/img2.jpg" alt="">
                <h5><a href="http://www.chemsoc.org.cn" target="_blank">中国化学会</a></h5>
                <p>中国化学会是从事化学或与化学相关专业的科技、教育工作者自愿组成并依法注册登记的学术性、公益性法人社会团体，是中国科学技术协会的组成部分，是中国发展化学科学技术的重要社会力量。</p>
              </div>
            </div>


            <!--<div class="col-lg-1 col-md-1 col-xs-1">-->
            <!--<div class="about block text-center">-->


            <!--</div>-->
            <!--</div>-->


            <div class="col-lg-4 col-md-4 col-xs-4 ">
              <div class="about block text-center">
                <img src="img/about/img3.jpg" alt="">
                <h5><a href="http://www.cqu.edu.cn" target="_blank">重庆大学</a></h5>
                <p>重庆大学是教育部直属的全国重点大学，中共中央直管副部级，由教育部和重庆市共建，“建筑老八校”之一，是国家“世界一流大学建设高校（A类）”、“211工程”和”985工程”首批重点建设的高水平研究型综合性大学。</p>
              </div>
            </div>








        </div>
      </div>
    </section>
    <!-- 第二栏 结束 -->



    <!-- 第三栏 承办单位-->
    <section id="services" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">承办单位</h2>
          </div>
        </div>
        <div class="row" align="">


          <div class="col-lg-3 col-md-3 col-xs-3">
            <div class="about block text-center">
              <img src="img/about/img2.jpg" alt="">
              <h5><a href="http://www.chemsoc.org.cn/meeting/Rheo2018/" target="_blank">中国化学会中国力学学会流变学专业委员会</a></h5>
              <p>团结组织全国化学工作者，促进化学学科和技术的普及、推广、繁荣和发展，提高社会成员的科学素养，促进人才的成长，发挥化学在促进国民经济可持续发展和高新技术创新中的作用，为力争使我国化学科学跻身国际先进行列而不懈努力</p>
            </div>
          </div>





          <div class="col-lg-3 col-md-3 col-xs-3">
            <div class="about block text-center">
              <img src="img/about/img3.jpg" alt="">
              <h5><a href="http://coe.cqu.edu.cn" target="_blank">重庆大学光电工程学院</a></h5>
              <p>重庆大学光电工程学院是重庆大学的二级学院，并且是重庆大学学科实力最强的学院之一。学校设有3个本科专业，有专职教职工111人，有在校本科学生1100余名，各类硕士研究生350余名，各类博士研究生130余名，博士后研究人员10余名</p>
            </div>
          </div>




          <div class="col-lg-3 col-md-3 col-xs-3">
            <div class="about block text-center">
              <img src="img/about/img3.jpg" alt="">
              <h5><a href="http://coe.cqu.edu.cn/info/1178/2374.htm" target="_blank">重庆大学光电技术及系统教育部重点实验室</a></h5>
              <p>光电技术及系统教育部重点实验室前身是1992年被批准建立的国家教委光电技术及系统开放实验室，1999年经评估成为光电技术及系统教育部重点实验室，依托于重庆大学。实验室有光学工程和仪器科学与技术两个一级学科博士学位授权点</p>
            </div>
          </div>


          <div class="col-lg-3 col-md-3 col-xs-3">
            <div class="about block text-center">
              <img src="img/about/img_keji.jpg" alt="">
              <h5><a href="http://jzxy.cqust.edu.cn" target="_blank">重庆科技学院建筑工程学院</a></h5>
              <p>重庆科技学院建筑工程学院始建于1983年，是重庆科技学院重点建设、重点发展的二级院系之一。学院以学科建设为龙头，教学质量为中心，坚持改革、发展、创新的办学理念，注重学生的基础理论、实践能力和创新能力的培养，不断促进学生全面发展。走产学合作办学之路</p>
            </div>
          </div>


        </div>
      </div>
    </section>
    <!-- 第仨栏 结束 -->



    <!-- 第四栏 协办单位-->
    <section id="services" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">协办单位</h2>
          </div>
        </div>
        <div class="row" >




          <!--<div class="col-lg-1 col-md-1 col-xs-1">-->
            <!--<div class="about block text-center">-->
            <!--</div>-->
          <!--</div>-->



          <!--<div class="col-lg-1 col-md-1 col-xs-1">-->
            <!--<div class="about block text-center">-->


            <!--</div>-->
          <!--</div>-->

          <!--<div class="col-lg-1 col-md-1 col-xs-1">-->
            <!--<div class="about block text-center">-->


            <!--</div>-->
          <!--</div>-->


          <!--<div class="col-lg-1 col-md-1 col-xs-1">-->
            <!--<div class="about block text-center">-->


            <!--</div>-->
          <!--</div>-->


          <!--<div class="col-lg-1 col-md-1 col-xs-1">-->
            <!--<div class="about block text-center">-->


            <!--</div>-->
          <!--</div>-->



          <div class="col-lg-12 col-md-12 col-xs-12 ">
            <div class="about block text-center">
              <img src="img/about/img_anhui.jpg" alt="">
              <h5><a href="http://www.china-ww.com" target="_blank">安徽微威胶件集团有限公司</a></h5>
              <p>安徽微威胶件集团有限公司（简称“安徽微威集团”）坐落于中国文化名城——桐城市郊，北距合肥市100Km，南距安庆市60 Km，206国道、沪蓉高速公路、京九铁路均傍厂而过，交通极为便捷；是专业设计、生产汽车橡胶、塑料零部件国家高新技术企业。</p>
            </div>
          </div>






        </div>
      </div>
    </section>
    <!-- 第四栏 结束 -->




    <!-- 第5拦 会议组织委员会-->
    <section id="weiyuanhui" class="section-padding">
      <!-- Container Starts -->
      <div class="container">

        <div class="row">
          <div class="col-md-12">
            <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">会议组织委员会</h2>
          </div>
        </div>


        <div class="row">
          <div class="col-lg-12 col-md-12">
            <!-- Portfolio Controller/Buttons -->
            <div class="controls text-center wow fadeInUpQuick" data-wow-delay=".6s">

              <a class="filter active btn btn-common" data-filter="all">
                全部
              </a>

              <a class="filter btn btn-common" data-filter=".zuren">
                主 任
              </a>

              <a class="filter btn btn-common" data-filter=".fuzuren">
                副主任
              </a>

              <a class="filter btn btn-common" data-filter=".weiyuan">
                委 员
              </a>

              <a class="filter btn btn-common" data-filter=".misuzan">
                秘书长
              </a>


              <a class="filter btn btn-common" data-filter=".misuzu">
                秘书组
              </a>

            </div>
            <!-- Portfolio Controller/Buttons Ends-->
          </div>




          <!-- Portfolio Recent Projects -->
          <div id="portfolio" class="row wow fadeInUpQuick" data-wow-delay="0.8s" >


            <!--一个大图标(照片按照100X120)-->
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix zuren" >
              <div class="portfolio-item text-center">

                <h4>郑 强</h4>

              </div>
            </div>





            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix fuzuren" >
              <div class="portfolio-item text-center">

                <h4>赵晓鹏</h4>

              </div>
            </div>

            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix fuzuren" >
              <div class="portfolio-item text-center">

                <h4>罗迎社</h4>

              </div>
            </div>



            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix fuzuren" >
              <div class="portfolio-item text-center">

                <h4>张劲军</h4>

              </div>
            </div>



            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix fuzuren" >
              <div class="portfolio-item text-center">

                <h4>解孝林</h4>

              </div>
            </div>


            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix fuzuren" >
              <div class="portfolio-item text-center">

                <h4>方波</h4>

              </div>
            </div>





<!--委员-->

            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix weiyuan" >
              <div class="portfolio-item text-center">

                <h4>艾慕阳</h4>

              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix weiyuan" >
              <div class="portfolio-item text-center">

                <h4>陈全</h4>

              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix weiyuan" >
              <div class="portfolio-item text-center">

                <h4>陈文义</h4>

              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix weiyuan" >
              <div class="portfolio-item text-center">

                <h4>傅强</h4>

              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix weiyuan" >
              <div class="portfolio-item text-center">

                <h4>龚兴龙</h4>

              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix weiyuan" >
              <div class="portfolio-item text-center">

                <h4>姜楠</h4>

              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix weiyuan" >
              <div class="portfolio-item text-center">

                <h4>刘琛阳</h4>

              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix weiyuan" >
              <div class="portfolio-item text-center">

                <h4>刘跃军</h4>

              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix weiyuan" >
              <div class="portfolio-item text-center">

                <h4>卢拥军</h4>

              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix weiyuan" >
              <div class="portfolio-item text-center">

                <h4>罗文波</h4>

              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix weiyuan" >
              <div class="portfolio-item text-center">

                <h4>彭响方</h4>

              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix weiyuan" >
              <div class="portfolio-item text-center">

                <h4>饶秋华</h4>

              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix weiyuan" >
              <div class="portfolio-item text-center">

                <h4>宋义虎</h4>

              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix weiyuan" >
              <div class="portfolio-item text-center">

                <h4>徐平</h4>

              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix weiyuan" >
              <div class="portfolio-item text-center">

                <h4>许高杰</h4>

              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix weiyuan misuzan" >
              <div class="portfolio-item text-center">

                <h4>余淼</h4>

              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix weiyuan" >
              <div class="portfolio-item text-center">

                <h4>俞炜</h4>

              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix weiyuan" >
              <div class="portfolio-item text-center">

                <h4>于德梅</h4>

              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix weiyuan" >
              <div class="portfolio-item text-center">

                <h4>袁学锋</h4>

              </div>
            </div>


<!--秘书组-->
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix misuzu" >
              <div class="portfolio-item text-center">

                <h4>浮洁</h4>

              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix misuzu" >
              <div class="portfolio-item text-center">

                <h4>陈世嵬</h4>

              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix misuzu" >
              <div class="portfolio-item text-center">

                <h4>綦松</h4>

              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 mix misuzu" >
              <div class="portfolio-item text-center">

                <h4>罗磊</h4>

              </div>
            </div>





          </div>







          </div>

        </div>




      </div>
      <!-- Container Ends -->
    </section>
    <!-- 第5拦 Ends -->







     <!-- 会议主题 -->
    <div id="topic" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">会议主题:(不仅限于以下主题)</h2>
          </div>
        </div>
        <div class="row">





          <div class="col-lg-4 col-md-6 col-xs-12" th:each="topic:${topics}">
            <div class="featured-box-item">
              <!--<div class="featured-icon">-->
                <!--<i class="fa fa-bolt"></i>-->
              <!--</div>-->
              <div class="featured-content">
                <h4 th:text="${topic.getTopic()}"></h4>

              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
    <!-- 6 End -->





    <!-- 第7拦 -->
    <div id="require" class="section-padding">

      <div class="container">

        <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">会议征文要求</h2>
          <p>1. 凡内容符合主题范围、未在国内外正式刊物或其它会议上发表的论文，均可投稿。</p>
          <p>2. 参会代表在 2020 年7 月1日 以前提交符合会议要求的论文（不限篇幅），格式模板可以在会议网站下载。会议将编印论文集。</p>
          <p><a href="/userManager">3. 论文投递系统：点击进入</a></p>
          <p>4. 会议将编辑印刷纸质版论文集，会后论文也将在流变学专业委员会主办的内部刊物《流变学通讯》（电子版）上刊登。经专家审稿后的优秀论文也可向《重庆大学学报（自然科学版）》，《功能材料（自然科学版）》等期刊推荐出版。</p>

      </div>

    </div>
    <!-- 第7栏结束 -->



    <!-- 第8拦 -->
    <div id="date" class="section-padding">
      <div class="container">


        <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">会议日程</h2>
          <p>2020年10月17日：全天报到（重庆大学科苑大酒店）</p>
          <p>2020年10月18日：上午大会报告，下午分组报告</p>
          <p>2020年10月19日：上午分组报告，下午大会报告、颁奖礼</p>
          <p>2020年10月20日：实验室参观与考察，闭会</p>


      </div>
    </div>
    <!-- 第8栏结束 -->



    <!-- 第9拦 -->
    <div id="importDate" class="section-padding">
      <div class="container">


        <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">重要日期</h2>
          <br/>
          <p>1. 第一轮通知： 2019年11月15日</p>
          <p>2. 第二轮通知： 2020年7月15日</p>
          <p>3. 第三轮通知： 2020年8月28日</p>
          <p>4. 论文提交截止：2020年7月1日</p>
          <p>5. 论文录用通知：2020年8月1日（第一批），8月31日（第二批），9月20日（第三批）</p>
          <p>6. 会议提前注册截止：2020年8月31日</p>
          <p>7. 分会场报告日程通知：2020年9月20日</p>


      </div>
    </div>
    <!-- 第9栏结束 -->




    <!-- 10 -->
    <section id="price" class="section-padding">
      <div class="container">
        <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">会议注册费</h2>

        <div class="text-center">

          <img src="img/img_price.png"   style="width: 60%;"/>

        </div>











        <br/>
        <p>若您是中国化学会会员，网站系统会自动显示为个人会员；</p>
        <p>若您是中国力学学会会员，请与会议秘书处余淼联系修改注册费标准(yumiao@cqu.edu.cn)。</p>


        <br/>
        <p>1.银行汇款</p>
        <p> 开户银行：待定</p>
        <p>户名：待定</p>
        <p>帐号：待定</p>

        <br/>
        <p>2.现场支付：POS机刷卡或现金</p>
        <p> 重要说明：汇款请在附言处注明“Rheo2020+姓名（参会号）”，汇款后请务必将汇款凭证上传到会议注册系统。注册费和版面费发票内容为“会场服务-会务费”。</p>

        <br/>
        <p>3.会议统一预订酒店（重庆大学科苑大酒店），食宿自理。</p>


      </div>
    </section>
    <!-- 10 End -->









    <!--&lt;!&ndash; facts Section Start &ndash;&gt;-->
    <!--<div id="counter">-->
      <!--<div class="container">-->
        <!--<div class="row count-to-sec">-->
          <!--<div class="col-lg-3 col-md-6 col-xs-12 count-one">-->
            <!--<span class="icon"><i class="fa fa-download"> </i></span>-->
            <!--<h3 class="timer count-value" data-to="561" data-speed="1000">561</h3>-->
            <!--<hr class="width25-divider">-->
            <!--<small class="count-title">Downloads</small>-->
          <!--</div>-->

          <!--<div class="col-lg-3 col-md-6 col-xs-12 count-one">-->
            <!--<span class="icon"><i class="fa fa-user"> </i></span>-->
            <!--<h3 class="timer count-value" data-to="950" data-speed="1000">950</h3>-->
            <!--<hr class="width25-divider">-->
            <!--<small class="count-title">Developers</small>-->
          <!--</div>-->

          <!--<div class="col-lg-3 col-md-6 col-xs-12 count-one">-->
            <!--<span class="icon"><i class="fa fa-desktop"> </i></span>-->
            <!--<h3 class="timer count-value" data-to="978" data-speed="1000">978</h3>-->
            <!--<hr class="width25-divider">-->
            <!--<small class="count-title">Lines of code written</small>-->
          <!--</div>-->

          <!--<div class="col-lg-3 col-md-6 col-xs-12 count-one">-->
            <!--<span class="icon"><i class="fa fa-coffee"> </i></span>-->
            <!--<h3 class="timer count-value" data-to="1700" data-speed="1000">1700</h3>-->
            <!--<hr class="width25-divider">-->
            <!--<small class="count-title">Cups of coffee consumed</small>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; facts Section End &ndash;&gt;-->

    <!-- Team Section Start -->
    <!--<div id="team" class="team-members-tow section-padding">-->
      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-md-12">-->
            <!--<h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">Our Team</h2>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->

          <!--<div class="col-lg-4 col-md-6 col-xs-12">-->
            <!--&lt;!&ndash; Team Item Starts &ndash;&gt;-->
            <!--<figure style="width: 50%">-->
              <!--<img src="img/team/team-05.jpg" alt="">-->
              <!--<div class="image-overlay">-->
                <!--<div class="overlay-text text-center">-->
                  <!--<div class="info-text">-->
                    <!--<strong>Melody Clark</strong>-->
                    <!--<span>UX Specialist</span>-->
                  <!--</div>-->

                <!--</div>-->
              <!--</div>-->
            <!--</figure>-->
            <!--&lt;!&ndash; Team Item Ends &ndash;&gt;-->
          <!--</div>-->
          <!--<div class="col-lg-4 col-md-6 col-xs-12">-->
            <!--&lt;!&ndash; Team Item Starts &ndash;&gt;-->
            <!--<figure style="width: 50%">-->
              <!--<img src="img/team/team-05.jpg" alt="">-->
              <!--<div class="image-overlay">-->
                <!--<div class="overlay-text text-center">-->
                  <!--<div class="info-text">-->
                    <!--<strong>Melody Clark</strong>-->
                    <!--<span>UX Specialist</span>-->
                  <!--</div>-->

                <!--</div>-->
              <!--</div>-->
            <!--</figure>-->
            <!--&lt;!&ndash; Team Item Ends &ndash;&gt;-->
          <!--</div>-->
          <!--<div class="col-lg-4 col-md-6 col-xs-12">-->
            <!--&lt;!&ndash; Team Item Starts &ndash;&gt;-->
            <!--<figure style="width: 50%">-->
              <!--<img src="img/team/team-05.jpg" alt="">-->
              <!--<div class="image-overlay">-->
                <!--<div class="overlay-text text-center">-->
                  <!--<div class="info-text">-->
                    <!--<strong>Melody Clark</strong>-->
                    <!--<span>UX Specialist</span>-->
                  <!--</div>-->

                <!--</div>-->
              <!--</div>-->
            <!--</figure>-->
            <!--&lt;!&ndash; Team Item Ends &ndash;&gt;-->
          <!--</div>-->
          <!--<div class="col-lg-4 col-md-6 col-xs-12">-->
            <!--&lt;!&ndash; Team Item Starts &ndash;&gt;-->
            <!--<figure style="width: 50%">-->
              <!--<img src="img/team/team-05.jpg" alt="">-->
              <!--<div class="image-overlay">-->
                <!--<div class="overlay-text text-center">-->
                  <!--<div class="info-text">-->
                    <!--<strong>Melody Clark</strong>-->
                    <!--<span>UX Specialist</span>-->
                  <!--</div>-->

                <!--</div>-->
              <!--</div>-->
            <!--</figure>-->
            <!--&lt;!&ndash; Team Item Ends &ndash;&gt;-->
          <!--</div>-->
          <!--<div class="col-lg-4 col-md-6 col-xs-12">-->
            <!--&lt;!&ndash; Team Item Starts &ndash;&gt;-->
            <!--<figure style="width: 50%">-->
              <!--<img src="img/team/team-05.jpg" alt="">-->
              <!--<div class="image-overlay">-->
                <!--<div class="overlay-text text-center">-->
                  <!--<div class="info-text">-->
                    <!--<strong>Melody Clark</strong>-->
                    <!--<span>UX Specialist</span>-->
                  <!--</div>-->

                <!--</div>-->
              <!--</div>-->
            <!--</figure>-->
            <!--&lt;!&ndash; Team Item Ends &ndash;&gt;-->
          <!--</div>-->
          <!--<div class="col-lg-4 col-md-6 col-xs-12">-->
            <!--&lt;!&ndash; Team Item Starts &ndash;&gt;-->
            <!--<figure style="width: 50%">-->
              <!--<img src="img/team/team-05.jpg" alt="">-->
              <!--<div class="image-overlay">-->
                <!--<div class="overlay-text text-center">-->
                  <!--<div class="info-text">-->
                    <!--<strong>Melody Clark</strong>-->
                    <!--<span>UX Specialist</span>-->
                  <!--</div>-->

                <!--</div>-->
              <!--</div>-->
            <!--</figure>-->
            <!--&lt;!&ndash; Team Item Ends &ndash;&gt;-->
          <!--</div>-->


        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!-- Team Section End -->



    <!--&lt;!&ndash; Single testimonial Start &ndash;&gt;-->
    <!--<div class="single-testimonial-area">-->
      <!--<div class="container">-->
        <!--<div id="single-testimonial-item" class="owl-carousel">-->
          <!--&lt;!&ndash; Single testimonial Item &ndash;&gt;-->
          <!--<div class="item">-->
            <!--<div class="row justify-content-md-center">-->
              <!--<div class="col-lg-8 col-md-12 col-xs-12 col-md-auto">-->
                <!--<div class="testimonial-inner text-md-center">-->
                  <!--<blockquote>-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, non ut molestiae rerum praesentium repellat debitis iure reiciendis, eius culpa beatae commodi facere ad numquam. Quisquam dignissimos similique sunt iure fugit, omnis vel cupiditate repellendus magni nihil molestiae quam, delectus-->
                  <!--</blockquote>-->
                  <!--<div class="testimonial-images">-->
                    <!--<img class="img-circle text-md-center" src="img/testimonial/img1.jpg" alt="">-->
                  <!--</div>-->
                  <!--<div class="testimonial-footer">-->
                    <!--<i class="fa fa-user"></i> Arman-->
                    <!--<a href="#"> UIdeck</a>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <!--&lt;!&ndash; Single testimonial Item &ndash;&gt;-->
          <!--<div class="item">-->
            <!--<div class="row justify-content-md-center">-->
              <!--<div class="col-lg-8 col-md-12 col-xs-12 col-md-auto">-->
                <!--<div class="testimonial-inner text-md-center">-->
                  <!--<blockquote>-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, non ut molestiae rerum praesentium repellat debitis iure reiciendis, eius culpa beatae commodi facere ad numquam. Quisquam dignissimos similique sunt iure fugit, omnis vel cupiditate repellendus magni nihil molestiae quam, delectus-->
                  <!--</blockquote>-->
                  <!--<div class="testimonial-images">-->
                    <!--<img class="img-circle text-md-center" src="img/testimonial/img2.jpg" alt="">-->
                  <!--</div>-->
                  <!--<div class="testimonial-footer">-->
                    <!--<i class="fa fa-user"></i> Jeniffer-->
                    <!--<a href="#"> GrayGrids</a>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <!--&lt;!&ndash; Single testimonial Item &ndash;&gt;-->
          <!--<div class="item">-->
            <!--<div class="row justify-content-md-center">-->
              <!--<div class="col-lg-8 col-md-12 col-xs-12 col-md-auto">-->
                <!--<div class="testimonial-inner text-md-center">-->
                  <!--<blockquote>-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, non ut molestiae rerum praesentium repellat debitis iure reiciendis, eius culpa beatae commodi facere ad numquam. Quisquam dignissimos similique sunt iure fugit, omnis vel cupiditate repellendus magni nihil molestiae quam, delectus-->
                  <!--</blockquote>-->
                  <!--<div class="testimonial-images">-->
                    <!--<img class="img-circle text-md-center" src="img/testimonial/img3.jpg" alt="">-->
                  <!--</div>-->
                  <!--<div class="testimonial-footer">-->
                    <!--<i class="fa fa-user"></i> Elon Musk<a href="#"> Tesla</a>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; end &ndash;&gt;-->

    <!--&lt;!&ndash; Contact Form Section Start &ndash;&gt;-->
    <!--<section id="contact" class="contact-form section-padding">-->
      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-md-12">-->
            <!--<h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">Contact Us</h2>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col-lg-8 col-md-6 col-xs-12">-->
            <!--<h3 class="title-head text-left">Get in touch</h3>-->
            <!--<form class="contact-form" data-toggle="validator">-->
              <!--<div class="row">-->
                <!--<div class="col-lg-4 col-md-12 col-xs-12">-->
                  <!--<div class="form-group">-->
                    <!--<i class="contact-icon fa fa-user"></i>-->
                    <!--<input type="text" class="form-control" id="name" placeholder="Full Name" required data-error="Please enter your name">-->
                    <!--<div class="help-block with-errors"></div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="col-lg-4 col-md-12 col-xs-12">-->
                  <!--<div class="form-group">-->
                    <!--<i class="contact-icon fa fa-envelope-o"></i>-->
                    <!--<input type="email" class="form-control" id="email" placeholder="Email" required data-error="Please enter your email">-->
                    <!--<div class="help-block with-errors"></div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="col-lg-4 col-md-12 col-xs-12">-->
                  <!--<div class="form-group">-->
                    <!--<i class="contact-icon fa fa-pencil-square-o"></i>-->
                    <!--<input type="text" class="form-control" id="subject" placeholder="Subject" required data-error="Please enter your Subject">-->
                    <!--<div class="help-block with-errors"></div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="col-lg-12 col-md-12 col-xs-12">-->
                  <!--<textarea class="form-control" id="message" rows="4" placeholder="Message" required data-error="Please enter your message"></textarea>-->
                  <!--<div class="help-block with-errors"></div>-->
                  <!--<button type="submit" id="form-submit" class="btn btn-common btn-form-submit">Send Message</button>-->
                  <!--<div id="msgSubmit" class="h3 text-center hidden"></div>-->
                  <!--<div class="clearfix"></div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</form>-->
          <!--</div>-->

          <!--<div class="col-lg-4 col-md-6 col-xs-12">-->
            <!--<h4 class="contact-info-title text-left">Contact Information</h4>-->
            <!--<div class="contact-info">-->
              <!--<address>-->
              <!--<i class="lni-map-marker icons cyan-color contact-info-icon"></i>-->
              <!--Level 13, 2 Elizabeth St, Melbourne,-->
            <!--</address>-->
              <!--<div class="tel-info">-->
                <!--<a href="tel:1800452308"><i class="lni-mobile icons cyan-color contact-info-icon"></i>1800 452 308</a>-->
                <!--<a href="tel:+61(8)82343555"><i class="lni-phone icons cyan-color contact-info-icon"></i>+61 (8) 8234 3555</a>-->
              <!--</div>-->
              <!--<a href="mailto:hello@spiritapp.com"><i class="lni-envelope icons cyan-color contact-info-icon"></i>admin@website.com</a>-->
              <!--<a href="#"><i class="lni-tab icons cyan-color contact-info-icon"></i>www.webstie.com</a>-->
              <!--<ul class="social-links">-->
                <!--<li>-->
                  <!--<a href="#" class="fa fa-facebook"></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#" class="fa fa-twitter"></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#" class="fa fa-instagram"></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#" class="fa fa-linkedin"></a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</section>-->
    <!--&lt;!&ndash; Contact Form Section End &ndash;&gt;-->












    <div th:replace="~{import :: down}"></div>


    <div th:replace="~{import :: script}"></div>
      
  </body>
</html>
